body {
  background-color: #d8dfd7;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
